/* ! GLOBAL STYLES */

body {
    background-color: #fcfcfc;
    color: #121010;
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

a {
    text-decoration: none;
}

/* ! LOCAL STYLES */

/* ! LOADING SCREEN */

.loading__container {
    height: 100vh;
    background-color: #491316;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.loading__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.loading__image {
    width: 40%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.loader {
    margin-top: 30px;
    width: 75%;
    height: 7.7px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.loader::after {
    content: "";
    width: 70px;
    height: 8.8px;
    background: #b81922;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hitZak 1s ease-in-out infinite alternate;
    -webkit-animation: hitZak 1s ease-in-out infinite alternate;
}

@keyframes hitZak {
    0% {
        left: 0;
        transform: translateX(-1%);
    }
    100% {
        left: 100%;
        transform: translateX(-99%);
    }
}

@media screen and (min-width: 425px) {
    .loading__image {
        width: 30%;
    }
}

@media screen and (min-width: 768px) {
    .loading__image {
        width: 20%;
    }

    .loader::after {
        width: 90px;
        animation: hitZak 1.5s ease-in-out infinite alternate;
        -webkit-animation: hitZak 1.5s ease-in-out infinite alternate;
    }
}

@media screen and (min-width: 1024px) {
    .loading__image {
        width: 15%;
    }

    .loader {
        width: 60%;
    }

    .loader::after {
        width: 90px;
        animation: hitZak 1.5s ease-in-out infinite alternate;
        -webkit-animation: hitZak 1.5s ease-in-out infinite alternate;
    }
}

@media screen and (min-width: 1440px) {
    .loader {
        width: 40%;
    }

    .loader::after {
        animation: hitZak 1.3s ease-in-out infinite alternate;
        -webkit-animation: hitZak 1.3s ease-in-out infinite alternate;
    }
}

@media screen and (min-width: 1920px) {
    .loader {
        height: 11px;
    }

    .loader::after {
        width: 110px;
        height: 11px;
    }
}

/* ! NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    position: relative;
    width: 50px;
    z-index: 3;
}

.nav__links {
    display: none;
}

.cart {
    display: none;
}

.burger__container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}

.burger__container input {
    display: none;
}

.burger__container svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.burger__container input:checked + svg {
    transform: rotate(-45deg);
}

.burger__container input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.burger__links {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(129, 72, 72);
    color: white;
    list-style: none;
    padding-top: 4rem;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.burger_active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

/* .burger__active .burger__links {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
} */

.burger__item {
    display: block;
}

@media screen and (min-width: 768px) {
    .nav {
        justify-content: space-around;
    }

    .nav__links {
        display: flex;
        gap: 20px;
    }

    .cart {
        display: block;
    }

    .burger {
        display: none;
    }
}
/* ! GIFS */

.home__gifs {
    overflow: hidden;
}
